@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&family=VT323&display=swap");
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  position: relative;
  overflow: hidden;
  background-color: #c2e2ff;

  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#app {
  width: 100%;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;

  color: white;
}

#header {
  width: 100%;
  height: 100px;

  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;

  box-sizing: border-box;
  padding: 0px 30px 17px 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.headerImg {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.logoImg {
  width: 300px;
  height: auto;
}
.buttonImg {
  height: 45px;
  width: auto;
}

.buttonContainer {
  width: fit-content;
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;

  position: relative;
  cursor: pointer;

  &:hover {
    animation: 0.2s infinite shake;
  }
}
.buttonTitle {
  font-size: 17px;
  color: black;
}

.buttonWrapper {
  position: absolute;
  top: 64px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 10px;
  z-index: 20;
}
.buttonWrapper.right {
  right: 40px;
}
.buttonWrapper.left {
  left: 40px;
}

.digitWrapper {
  width: fit-content;
  height: fit-content;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 50%;
  top: 10px;
  transform: translate(-53%, 0px);
}
.digitNum {
  width: 20px;

  color: #f03025;
  font-size: 35px;
  line-height: 0.6;

  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#room {
  width: 100%;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;
  display: none;

  background-color: white;
  color: black;
  opacity: 0;
  transition: all 1s;
  z-index: 1;
}

.duckWrapper {
  width: 40px;

  position: absolute;
  top: 0px;
  left: 0px;

  cursor: pointer;
}
.duckImg {
  &:hover {
    animation: 0.2s infinite shake;
  }
}
.duckPath {
  position: absolute;
  top: 0px;

  width: 5px;
  height: 5px;

  background-color: #a2d4fe;
}

#overlay {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  padding-bottom: 50px;

  z-index: 50;
  display: none;
  align-items: center;
  justify-content: center;
}
.modalContainer {
  width: 380px;
  height: fit-content;

  position: relative;
}
.modalTitle {
  position: absolute;
  top: 0px;
  left: 50%;

  color: white;
  font-size: 20px;
  transform: translate(-50%, 8px);
}
.modalButtonContainer {
  width: 85px;
  height: fit-content;

  position: relative;
  cursor: pointer;

  &:hover {
    filter: contrast(0.8);
  }
}
.modalButtonTitle {
  position: absolute;
  top: 45%;
  left: 50%;

  color: white;
  font-size: 17px;
  transform: translate(-50%, -50%);
}
.modalButtonWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;

  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -45px);
}
.modalDescription {
  width: 250px;

  font-size: 18px;
  line-height: 1.1;

  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 77px);
}
.descriptionWrapper {
  width: fit-content;
  height: fit-content;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;

  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.descriptionCol {
  width: 190px;
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.descriptionText {
  width: 100%;
  height: fit-content;

  font-size: 18px;
  line-height: 1.1;
}
.connectionImg {
  width: 60px;
  height: 60px;
}

.loadingContainer {
  width: 190px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}
.loadingGauge {
  width: 178px;
  height: 17px;

  position: absolute;
  left: 50%;
  top: 49%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3px;
}
.loadingItem {
  width: 15px;
  height: 100%;
  background-color: #274ba9;
}

.infoWrapper {
  width: 200px;
  height: fit-content;

  display: none;
  position: absolute;
  left: 110%;
  top: 20%;
}
.infoText {
  width: 90%;

  position: absolute;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);

  color: #505050;
}

.wordWrapper {
  height: 300px;

  display: none;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  gap: 5px;

  position: absolute;
  right: 110%;
  top: 50%;
  transform: translate(0, -50%);
}
.wordImg {
  width: 45px;
  height: 45px;
}
.wordItemWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
}
.wordTitle {
  color: #505050;
  line-height: 0.8;
  text-align: center;
}

.wordInfoWrapper {
  width: 96px;
  height: fit-content;

  display: none;
  position: absolute;
  left: 60%;
  bottom: 40%;
}
.wordInfoText {
  font-size: 15px;
  line-height: 0.8;
}
